*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow',cursive, sans-serif;
}

html{
    font-size: 70.5%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(4, 102, 94);
    color:rgb(26, 26, 26);
    display:flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 45rem;
    height: 52rem;
    background-color: rgb(255, 255, 255) ;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
    border-radius: 25px;
}

.month{
    width:100%;
    height: 12rem;
    background-color: rgb(15, 53, 97) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem ;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    color: aliceblue;
    border-radius: 25px;
}
.month p{
    font-size: 1.6rem;
}
.weekdays{
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.3rem 0.5 rgba(0,0,0,0.5);
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div{
    font-size:1.4rem ;
    margin: 0.3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:0.3rem 0.5 rgba(0,0,0,0.5);
    transition: background-color 0.4s;
}

.prev-date, .next-date{
    opacity: 0.5;
}

.today{
    background-color:rgb(28, 41, 116);
    border: 0.3 rem rebeccapurple;
    color:aliceblue;
}

.days div:hover:not(.today) {
    background-color: #888888;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev:hover {
    cursor: pointer;
}

.next:hover {
    cursor: pointer;
}